{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{cover_enabled, true}.
{deps, [
    {basho_stats, ".*", {git, "https://github.com/basho/basho_stats.git", {branch, "develop-2.2.5"}}},
    {proper,      ".*", {git, "https://github.com/basho/proper.git", {tag, "v1.2p1"}}},
    {stdlib2,     ".*", {git, "https://github.com/basho/stdlib2.git", {branch, "develop-2.2.5"}}}
]}.
