{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{cover_enabled, true}.
{deps, [
    {basho_stats, ".*", {git, "https://github.com/nhs-riak/basho_stats.git", {branch, "rdb/1.0.3-nhs-2.2.5"}}},
    {proper,      ".*", {git, "https://github.com/basho/proper.git", {tag, "v1.2p1"}}},
    {stdlib2,     ".*", {git, "https://github.com/nhs-riak/stdlib2.git", {branch, "rdb/0.0.1-nhs-2.2.5"}}}
]}.
